clip==0.2.0
deepspeed==0.17.2
einops==0.8.1
h5py==3.13.0
linear_attention_transformer==0.19.1
lmdb==1.7.2
matplotlib==3.10.3
mne==1.10.0
natsort==8.4.0
numpy==1.26.4
pandas==1.5.3
Pillow==11.3.0
pyhealth==1.1.6
Requests==2.32.4
scikit_learn==1.7.0
scipy==1.16.0
tensorboardX==2.6.4
timm==0.4.12
torch==2.4.0+cu118
torchvision==0.19.0+cu118
tqdm==4.67.1
wandb==0.19.2
opt_einsum==3.4.0
